* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family:'Segoe UI';
}

/* Header */

img#logo {
    width: 115px;

}

header {
    color: white;
    height: 115px;
}

ul {
    position: relative;
    top: -82px;
}


li {
    display: inline-block;
}

a {
    padding-left: 20px;
}

.titre {
    padding-left: 136px;
    color: #E1C0F9 ;
    font-size: 32px;
}

.ajouter, .rechercher {
    color: white;
    background: rgb(225,192,249);
    background: linear-gradient(310deg, rgba(225,192,249,1) 21%, rgba(236,216,251,1) 100%);
    border-radius: 18px;
    padding: 13px 29px 13px 29px;
    float: right;
    margin-right: 27px;
}
/* END Header */

/* Footer */

footer {
    text-align: center;
    height: 195px;
}

p#footer {
    color: #7D8B8C;
    font-size: 21px;
    margin-right: 18px;
    margin-top: 116px;
    text-align: center;
    right: 0;
    position: absolute;
}

#retour {
    color: white;
    background-color: #94A5A5;
    border-radius: 35px;
    padding: 16px 32px 16px 32px;
    text-decoration: none;
    position: relative;
    top: 72px;
    font-size: 28px;

    transition: .2s ease;
}
#retour:hover{
    background-color: #5c6666;
}

/* Footer */

/* Footer HOME */

p#footer-home {
    color:#7D8B8C;
    font-size: 21px;
    float: right;
    margin-right: 18px;
    margin-top: 60px;
    text-align: center;
}

footer#home {
    height: 139px;
}

/* END Footer HOME */

/* Home */

main#accueil {
    background-image: url(img/home.png);
    width: 100%;
    height: 73vh;
    background-position: center;
    background-size: cover;
    background-position-y: -43px;
}

/* END Home */

/* Ajout */

main#ajout {
    background-image: url(img/ajout.jpg);
    width: 100%;
    height: 67vh;
    background-position: center;
    background-size: cover;
    background-position-y: -7px;
}

main#ajout>h1 {
    text-align: center;
    padding-top: 169px;
    color: #353535;
    padding-bottom: 23px;
}

form.ajouter-formulaire {
    text-align: center;
}

.ajouter-formulaire>input {
    padding: 16px 23px;
    border-radius: 100px;
    width: 17%;
    margin: 10px 0;
    color: #2b2b2b;
    font-size: 17px;
    position: unset;
    border: 3px solid #fff;
    transition: .2s ease;
}
.ajouter-formulaire>input:focus {
    border: 3px solid rgba(189,96,255,0.5);
    border-radius: 100px;
}

.ajouter-formulaire>button {
    background: #ECD8FB;
    border: none;
    padding: 17px 22px;
    border-radius: 100px;
    cursor: pointer;
    transition: .2s ease;
    color: #fff;
    width: 9%;
    font-size: 17px;
    font-weight: bold;
    margin-top: 22px;
}

.ajouter-formulaire>button:hover {
    background:rgb(189, 96, 255);
}

.ajouter-formulaire>input[name="telephone"] {
    width: 17%;
}
.ajouter-formulaire>input[name="adresse"] {
    width: 23%;
}
.ajouter-formulaire>input[name="nom"] {
    margin-right: 11px;
}

/* END Ajout */

/* Recherche */
main#recherche {
    background-image: url(img/recherche.png);
    width: 100%;
    height: 67vh;
    background-position: center;
    background-size: cover;
    background-position-y: -7px;
}
main#recherche>h1 {
    text-align: center;
    padding-top: 192px;
    color: #ffffff;
}

form.rechercher-formular {
    text-align: center;
    padding-top: 58px;
}
form.rechercher-formular>input {
    padding: 24px 32px;
    margin: -3px;
    border: none;
    border-left: 1px solid #707070;
    box-shadow: 1px 3px 4px 1px #adadad42;
    color: #2b2b2b;
    font-size: 17px;
    border: 3px solid #fff;

    transition: .2s ease;
}
form.rechercher-formular>input:focus{
    border: 3px solid rgba(189,96,255,0.5);
    border-radius: 10px;
}
.rechercher-formular>button {
    background: #ECD8FB;
    border: none;
    padding: 20px 22px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    top: 7px;
    left: -73px;

    transition: .2s ease;
}
form.rechercher-formular>input[name="nom"] {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 12%;
}
form.rechercher-formular>input[name="adresse"] {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 23%;
}
form.rechercher-formular>input[name="prenom"] {
    width: 14%;
}
.rechercher-formular>button>img {
    filter: invert(1);
    transform: rotate(271deg);
}
.rechercher-formular>button:hover {
    background: rgb(189, 96, 255);
}
/* END Recherche */

/* RES RECHERCHE */
main#res-recherche {
    background-image: url(img/recherche.png);
    width: 100%;
    height: 67vh;
    background-position: center;
    background-size: cover;
    background-position-y: -7px;
}

main#res-recherche>.flex-resultat {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

main#res-recherche>.flex-resultat>.resultat-div {
    background: #fff;
    height: 518px;
    width: 929px;
    padding: 61px 69px;
    border-radius: 33px;
    margin-top: 61px;
    box-shadow: 1px 3px 19px 0px #5252523d;
    margin-right: -203px;
    position: relative;
}

main#res-recherche>.flex-resultat>.resultat-div>h1 {
    color: #E2C1FA;
    font-weight: 400;
    font-size: 34px;
}

main#res-recherche>.flex-resultat>.resultat-div>p {
    color: #94A5A5;
    margin: 21px 0;
    font-size: 22px;
}

main#res-recherche>.flex-resultat>.resultat-div>p.not-found {
    text-align: center;
    margin-top: 130px;
    font-size: 29px;
}

main#res-recherche>.flex-resultat>.resultat-div>a {
    color: white;
    background: rgb(225,192,249);
    background: linear-gradient(
            310deg
            , rgba(225,192,249,1) 21%, rgba(236,216,251,1) 100%);
    border-radius: 100px;
    padding: 13px 29px 13px 29px;
    text-decoration: none;
    position: absolute;
    right: 23px;
    bottom: 19px;
}
/* END RES RECHERCHE */

/* AJOUT FAIT */
main#ajout-fait {
    background-image: url(img/ajout.jpg);
    width: 100%;
    height: 67vh;
    background-position: center;
    background-size: cover;
    background-position-y: -7px;
}

main#ajout-fait>.flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main#ajout-fait>.flex-div>.resultat-div {
    background: #fff;
    height: 161px;
    width: 488px;
    border-radius: 34px;
    margin-top: 233px;
}

main#ajout-fait>.flex-div>.resultat-div>p {
    text-align: center;
    font-size: 22px;
    padding: 52px 0;
    color: #2f2f2f;
    font-weight: bold;
}
/* END AJOUT FAIT */